* {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}
p {
    font-size: 12px;
    line-height: 0.6;
}
span {
    font-size: 13px;
}
i {
    color: #404040;
}
.namecardWrapper {
    width: 500px;
    height: 250px;
    border: 1px solid #e5e5e5;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.nameWrapper {
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name {
    font-size: 16px;
    margin: 10px 0;
}
.caption {
    color: #bababa;
    font-weight: 600;
}
.logo {
    width: 100px;
    height: auto;
}
.backAlign {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}